.HoF-img {
	min-height: 465px;
	width: 100%;
}

.HoF-name{
	display: inline-block;
    width: 36%;
    margin-top: 0px;
    text-align: center;
}
.wrap-star{
	display: inline-block;
}
.star-rating {
	width:150px;
}
.star-rating,.star-rating span {
	display:inline-block; 
	height:26px; 
	overflow:hidden; 
	background:url(/resources/images/bigstar.png)no-repeat; 
}
.star-rating span{
	background-position:left bottom; 
	line-height:0;
	vertical-align:top; 
}

.small-card, .large-card, .medium-card {
	padding: 0px !important;
}

.pricing {
	min-height: 500px;
	max-height: 500px;
}

.small-size, .large-size {
	width: 100%;
	height: 95px;
	background: #343a40;
}

.medium-size {
	width: 100%;
	height: 95px;
	background: #088cf3;
}

.dog-type {
	position: relative;
	top: 25%;
}

.small-size-img {
	width: 222px;
	position: relative;
	top: 45px;
}

.medium-size-img {
	width: 184px;
	position: relative;
	top: 47px;
}

.medium-btn {
	color: #fff;
	background: #6c757d;
}

.medium-btn:hover {
	background: #5a6268;
	color: #fff;
}

.large-size-img {
	width: 240px;
	position: relative;
	top: -21px;
	max-height: 303px;
}