@charset "UTF-8";

.color_blue{
	color : #088cf3;
}

.inline_block{
	display : inline-block;
}

.flex_row{
	display : flex;
	flex-direction: row;
}

.flex_column{
	display : flex;
	flex-direction: column;
	justify-content : space-around;
}

.w-80{
	width : 80% !important;	
}

.w-90{
	width : 90% !important;	
}

.w-10{
	width : 10% !important;	
}

.border_bottom{
	border-bottom: 1px solid #dee2e6;	
}

/*lost_found top_info*/
.top_info span {
	display: inline;
	margin-left: 0.5rem;
	font-size: 1.3em;
	color: #5D5C5C;
}

.reply_info span, reply_info {
	display: inline;
	margin-left: 0.5rem;
	font-size: 1em;
	color: #5D5C5C;
}

#comments li {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

#comments li:hover {
	background-color: rgba(145, 198, 255, .2);
}

#lost_found_form ::placeholder {
	color: #ADBFCD;
}

.lost_found_label {
	font-size: 2em;
	font-weight: bold;
}

.features, .list_content, .col-xs-12 {
	width: 100%;
}

.width100 {
	width: 100%;
}

.float-right{
	display: float;
	float: right;
}

.small_btn{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top : 0.25rem;
	padding-bottom : 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.basic_btn {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

/*lostpets tab menu*/
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
	text-decoration: none;
}

.nav-link.disabled {
	color: #6c757d;
	pointer-events: none;
	cursor: default;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
	margin-bottom: -1px;
	padding-bottom: 20px;
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: 0.8rem !important;
	border-top-right-radius: 0.8rem !important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
	color: #6c757d;
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #fff !important;
	background-color: #007bff !important;
	border-color: #dee2e6 #dee2e6 #fff;
}

.nav-pills .nav-link {
	border-radius: 0.25rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #088cf3;
}

.nav-fill .nav-item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
	font-size: 1.2em;
	line-height: 2.5em;
}

.nav-justified .nav-item {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
}

.tab-content>.tab-pane {
	display: none;
}

.tab-content>.active {
	display: block;
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar>.container, .navbar>.container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none;
}

.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
	text-decoration: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}

tab-nav>.tab-nav.tab-nav-tabs {
	border: none;
	color: #fff;
	background: #272e38;
	border-radius: 0;
}

nav>div a.nav-item.nav-link.active{
	border : none;
	padding: 18px 25px;
	color: #007bff;
	background: #fff;
	border-radius: 0;
}

nav>div a.nav-item.nav-link {
	border: 1px solid #e1e3e6;
	padding: 18px 25px;
	color: #007bff;
	background: #fff;
	border-radius: 0;
}

nav>div a.nav-item.nav-link:hover {
	border: 1px solid #007bff;
	background: #fff;
	color: #007bff;
	border-radius: 0;
	box-shadow: 0px 8px 20px -13px rgba(102,97,102,1); 
}

.border_top{
	border-top : 1px solid #007bff;
}

/*lost_found pagination */
.list_content {
	display: inline-block;
}

.pagination_nav {
	display: block;
	height: auto;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 30px 20px;
	list-style: none;
	border-radius: 0.5rem;
	font-size: 1.2em;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.75rem 1rem !important;
	margin-left: -1px;
	line-height: 1.25;
	color: #088cf3;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.page-link:hover {
	z-index: 2;
	color: #74a19e;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.page-link:focus {
	z-index: 2;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(162, 192, 190, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(162, 192, 190, 0.25);
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #088cf3;
	border-color: #088cf3;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}

.pagination-lg .page-link {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}