@charset "UTF-8";
.wrap-star{
	text-align: center;
    position: relative;
    left: 4.5%;
}
.star-rating {
	width:150px;
    text-align: left;
}
.star-rating,.star-rating span {
	display:inline-block; 
	height:26px; 
	overflow:hidden; 
	background:url(/resources/images/bigstar.png)no-repeat; 
}
.star-rating span{
	background-position:left bottom; 
	line-height:0;
	vertical-align:top; 
}

.DayOfTheWeek_li {
	display: inline-block;
	padding: 5px;
}

.Calendar {
	width: 80%;
}

.imgbtn {
	padding: 4px;
	margin-bottom: 10px;
}

.CalendarMonth_small {
	padding: 10px 30px 10px 30px;
	margin: 0px;
	display: inline-block;
}

.CalendarMonth_small1{
	margin: 0;
    display: inline-block;
    padding: 20px;
}

.CalendarDayDiv--td {
	padding: 5px;
}

.CalendarDayDiv {
	border: 0px;
	width: 100%;
	background-color: white;
	color: #87CEEB;
}

.CalendarDayDiv--closed {
	border: 0px;
	width: 100%;
	background-color: white;
	color: gray;
}

.DayOfTheWeek_li {
	display: inline-block;
	padding: 5px 21.3px 5px 21.3px;
	font-size: 17px;
}

.DayOfTheWeek_ui {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.service_h2-reservation {
	font-weight: 600;
	font-size: 17px;
	letter-spacing: -0.2px;
	line-height: 25px;
	color: rgb(57, 60, 71);
	margin-top: 15px;
	margin-bottom: 24px;
	display: inline-block;
}

.service_warp {
	width: 100%;
}

.service_txth1, .service_txth2 {
	margin-bottom: 0px;
}

.service_ico {
	position: relative;
	left: 12%;
}

.reservation-contationer{
	
	display: flex;
}

.profile-reservation, .price-reservation, .schedule-reservation {
	display: inline-block;
}

.dogtype {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 28%;
}

.price_type {
	position: relative;
	display: inline-block;
	left: 9%;
	top: -20px;
	padding: 0px;
	width: 90%;
}

.kg {
	margin: 0px;
	font-size: 10px;
}

.type_text {
	display: inline-block;
	font-size: 15px;
	padding: 10px 10px 10px 10px;
	margin: 0px;
	width: 100%;
}

.price-reservation-container {
	position: relative;
	display: inline-block;
	min-width: 380px;
	left: 6.5%;
	width: 29%;
}

.priceDiv {
	display: inline-block;
	position: relative;
	left: 8%;
}

.priceDiv-reservation {
	display: inline-block;
	position: relative;
	padding: 10px;
}

.price_text {
	display: inline-block;
	position: relative;
	left: 10%;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

.total_amount_text {
	
	display: inline-block;
	width: 65%;
}

.price {
	display: inline-block;
	width: 55%;
}

.price-reservation {
	display: inline-block;
	width: 65%;
	position: relative;
	left: -6%;
}

.number {
	display: inline-block;
	position: relative;
	width: 18%;
	left: 6%;
	font-size: 15px;
}

.number-reservation {
	display: inline-block;
	position: relative;
	width: 18%;
	left: 3%;
	font-size: 15px;
}

.num, .num-small, .num-medium, .num-large {
	display: inline-block;
	margin: 0px;
}

.justify-content-center {
	padding-top: 25px;
}

.paws {
	margin: 0px;
}

.heading-section h2 {
	padding: 0px;
	font-size: 23px;
}

.licenseDiv {
	display: inline-flex;
	padding-left: 20px;
	padding-right: 20px;
}

.license_txth1 {
	margin-bottom: 0px;
	padding: 4px 10px 4px 20px;
	font-weight: 600;
}

.license_txth2 {
	margin-bottom: 0px;
	padding: 0px 10px 5px 20px;
}

.reservationDiv {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 100;
	border-top: #6c757d solid 2px;
	border-bottom: #6c757d solid 2px;
}

.profile-reservation {
	width: 30%;
	min-width: 400px;
	position: relative;
	left: 6%;
	width: 30%;
}

.profileIMGDiv-reservation {
	display: inline;
	padding: 25px;
}

.profileIMG-reservation {
	border-radius: 50% !important;
	max-width: 20%;
}

.profile_h6Div-reservation {
	display: inline-block;
	padding: 20px;
}

.profile_h6-reservation {
	margin: 0px;
}

.service_swap-reservation {
	width: 100%;
}

.service_list-reservation {
	padding: 10px;
}
/*
        .service_h2-reservation{
           margin:0px;
            font-weight: 600;
          font-size: 14px;
          letter-spacing: -0.2px;
          line-height: 25px;
          color: rgb(57, 60, 71);
        }
        */
.service_ico-reservation {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 158px;
	height: 69px;
}

.service_txtbox-reservation {
	margin-left: 10px;
	width: 115px;
	min-width: 115px;
}

.price_type-reservation {
	position: relative;
	display: inline-block;
	top: -20px;
	padding-top: 5px;
	padding-bottom: 8px;
	width: 100%;
}

.schedule-reservation {
	position: relative;
	left: 9%;
	width: 26%;
}

.Calendar-reservation {
	padding-top: 2rem !important;
}

.btn-reservation {
	display: inline-block;
}

.dateTime {
	display: none;
	position: absolute;
	width: 100%;
	background-color: white;
	top: 42px;
}

.time-setting {
	font-size: 20px;
	margin: 0px;
	padding: 10px;
}

.time-btn {
	width: 100%;
	height: 44px;
	padding: 0px;
	background-color: white;
	border: gainsboro solid 1px;
}

.time-text {
	margin: 0px;
	color: #87CEEB;
}

.APM {
	width: 49.5%;
	height: 40px;
	background-color: white;
	border: gainsboro solid 1px;
}

.time {
	text-align: center;
	padding: 0px;
}
.reserved-date--text{
	margin-bottom: 10px;
}
.start-date--text, .end-date--text{
	margin: 0px;
    font-size: 15px;
    display: inline-block;
    width: 49%;
    text-align: center;
}

.reservtext {
	margin: 0px;
}

.owl-prev, .owl-next{
	padding: 20px;
    display: inline-block;
}

.backbtn{
	position: relative;
    top: 20px;
}


.review-content{
	word-break: break-all;
}

/* 예약 버튼 css */


.paymentbtn {
  display: inline-block;
  height: 100%;
  -webkit-animation: hue-rotate 10s linear infinite;
          animation: hue-rotate 10s linear infinite;
}

.bubblebtn {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.bubblebtn:hover {
  background-color: #90feb5;
  color: #fff;
}
.bubblebtn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.bubblebtn--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
}
.bubblebtn--bubble:hover {
  background: none;
}
.bubblebtn--bubble:hover + .bubblebtn--bubble__effect-container .circle {
  background: #44fd82;
}
.bubblebtn--bubble:hover + .bubblebtn--bubble__effect-container .bubblebtn {
  background: #44fd82;
}
.bubblebtn--bubble:active + .bubblebtn--bubble__effect-container {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.bubblebtn--bubble__container {
  position: relative;
  display: inline-block;
}
.bubblebtn--bubble__container .effect-bubblebtn {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #222;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.bubblebtn--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  pointer-events: none;
}
.bubblebtn--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #222;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}
.bubblebtn--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}
.bubblebtn--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.bubblebtn--bubble__container {
  top: 50%;
  margin-top: -25px;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
