<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dingpet.customers.p001.mapper.Customers_P001_Mapper">

<!-- 일반회원 등록 -->
<select id="insert1">
	insert into member(member_id, member_pwd, member_nickname, member_email)
	values(#{member_id}, #{member_pwd}, #{member_nickname}, #{member_email})
</select>



<!-- 펫시터회원 등록 -->
<select id="insert2">
	insert into member(sex, date_of_birth, address, profession,
					  active_hours, answer1, answer2, answer3)
				values(#{sex}, #{date_of_birth}, #{address}, #{profession},
					  #{active_hours}, #{answer1}, #{answer2}, #{answer3})		  	  
</select>



<!-- 로그인 -->
<select id="loginCheck" resultType="com.dingpet.customers.p001.vo.Customers_P001_VO">
	select member_id, member_nickname from member where member_id=#{member_id} and member_pwd=#{member_pwd}
</select>


<!-- id중복체크 -->
<select id="overlappedId" resultType="int" parameterType="String">
	select count(member_id) from member where member_id = #{memebr_id}
</select>


</mapper>