<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.or//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.dingpet.lostpets.p003.mapper.LostPets_P003_Mapper">
	
	<!-- 요청 목록 가져오기 -->
	
	<!--1) 받은 요청 -->
	<!--1-1) 요청이 있는 내 글 목록 -->
	<select id="myList" resultType="com.dingpet.lostpets.p001.vo.LostPets_P001_VO" parameterType = "String">
		SELECT LF.title, LF.member_id, LF.board_id, D.dog_breed, D.dog_sex, d.found_location, P.front_name
		FROM lost_found LF, dog D, lost_found_photo P
		WHERE LF.board_id = P.board_id
		AND LF.dog_id = D.dog_id
		AND LF.member_id = #{member_id}
        AND LF.status = 'n'
        AND LF.board_id in (
            SELECT receiver_b_id
            FROM lost_found_request
            WHERE request_status = 'n'
            AND receiver_id = #{member_id}
        )
	</select>
	<!--1-2) 내 글에 대한 요청 목록 -->
	<select id="requestFrom" resultType="com.dingpet.lostpets.p001.vo.LostPets_P001_VO" parameterType = "String">
		SELECT *
		FROM 
		    (
		        SELECT LF.board_id, LF.member_id, LF.title, D.dog_breed, D.dog_sex, D.found_location, P.front_name 
		        FROM lost_found LF, dog D, lost_found_photo P
		        WHERE LF.dog_id = D.dog_id
		        AND LF.board_id = P.board_id
		    ) B, 
		    (
		        SELECT request_id, sender_id, receiver_id, sender_b_id, receiver_b_id, request_status
		        FROM lost_found_request
		        WHERE receiver_id = #{member_id}
		        AND request_status = 'n'
		    ) R
		WHERE R.sender_b_id = B.board_id
	</select>
	
	
	<!--2) 보낸 요청 -->
	<!-- 2-1) 내가 보낸 요청 목록 -->
	<select id="myRequest" resultType="com.dingpet.lostpets.p001.vo.LostPets_P001_VO" parameterType = "String">
		SELECT LF.title, LF.member_id, LF.board_id, D.dog_breed, D.dog_sex, d.found_location, P.front_name
		FROM lost_found LF, dog D, lost_found_photo P
		WHERE LF.board_id = P.board_id
		AND LF.dog_id = D.dog_id
		AND LF.member_id = #{member_id}
        AND LF.status = 'n'
        AND LF.board_id in (
            SELECT sender_b_id
            FROM lost_found_request
            WHERE request_status = 'n'
            AND sender_id = #{member_id}
        )
	</select>		
	<!-- 2-2)내 요청을 받은 글 목록 -->
	<select id="requestTo" resultType="com.dingpet.lostpets.p001.vo.LostPets_P001_VO" parameterType = "String">
		SELECT *
		FROM 
		    (
		        SELECT LF.board_id, LF.member_id, LF.title, D.dog_breed, D.dog_sex, D.found_location, P.front_name 
		        FROM lost_found LF, dog D, lost_found_photo P
		        WHERE LF.dog_id = D.dog_id
		        AND LF.board_id = P.board_id
		    ) B, 
		    (
		        SELECT request_id, sender_id, receiver_id, sender_b_id, receiver_b_id, request_status
		        FROM lost_found_request
		        WHERE sender_id = #{member_id}
		        AND request_status = 'n'
		    ) R
		WHERE R.receiver_b_id = B.board_id
	</select>
	
	
	<!-- 완료처리 -->
	<insert id="write" parameterType="com.dingpet.lostpets.p003.vo.LostPets_P003_VO">
		INSERT INTO lost_found_matched
		VALUES (seq_lost_found_matched.nextval, #{match_title}, #{match_content}, #{photo_name}, #{photo_path}, #{request_id})
	</insert>
	
	<update id="confirmRequest" parameterType="com.dingpet.lostpets.p003.vo.LostPets_P003_VO">
		UPDATE lost_found_request
		SET request_status = 'y',
			completed_date = to_char(sysdate, 'yyyymmddhh24mi')
		WHERE request_id = #{request_id}
	</update>
	
	<update id = "complete_lost" parameterType="com.dingpet.lostpets.p003.vo.LostPets_P003_VO">
		UPDATE lost_found
		SET status = 'y',
			status_reason = 'matched'
		WHERE board_id = #{receiver_b_id}
	</update>
	
	<update id = "complete_find" parameterType="com.dingpet.lostpets.p003.vo.LostPets_P003_VO">
		UPDATE lost_found
		SET status = 'y',
			status_reason = 'matched'
		WHERE board_id = #{sender_b_id}
	</update>
	
</mapper>