<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingpet.facilitymap.p001.mapper.FacilityMap_P001_Mapper">
	<select id="meditest" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO" parameterType="com.dingpet.facilitymap.p001.dto.PlaceDTO">
		<![CDATA[
		SELECT PLACE_NUM, PLACE_NAME, ADDRESS_NAME, ROAD_ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL
		FROM PET_MEDICENTER WHERE CATEGORY_NAME='동물병원' AND X < (#{myX, jdbcType=VARCHAR}+0.05) AND X > (#{myX, jdbcType=VARCHAR}-0.05) OR
		Y < (#{myY, jdbcType=VARCHAR}+0.00015) AND Y > (#{myY, jdbcType=VARCHAR}-0.00015) 
		]]>	
	</select>
	<select id="medicenterSearch" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO" parameterType="com.dingpet.facilitymap.p001.dto.PlaceDTO">
		<![CDATA[
		SELECT PLACE_NUM, PLACE_NAME, ADDRESS_NAME, ROAD_ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL
		FROM PET_MEDICENTER WHERE CATEGORY_NAME='동물약국' AND X < (#{myX, jdbcType=VARCHAR}+0.05) AND X > (#{myX, jdbcType=VARCHAR}-0.05) OR
		Y < (#{myY, jdbcType=VARCHAR}+0.00015) AND Y > (#{myY, jdbcType=VARCHAR}-0.00015) 
		]]>	
	</select>
	<select id="cafeSearch" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO" parameterType="com.dingpet.facilitymap.p001.dto.PlaceDTO">
		<![CDATA[
		SELECT SITE_ID, PLACE_NAME, ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL
		FROM SITE WHERE CATEGORY_NAME='dog_cafe' AND X < (#{myX, jdbcType=VARCHAR}+1.05) AND X > (#{myX, jdbcType=VARCHAR}-1.15) OR
		Y < (#{myY, jdbcType=VARCHAR}+1.50015) AND Y > (#{myY, jdbcType=VARCHAR}-1.20015) 
		]]>	
	</select>
	<select id="restaurantSearch" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO" parameterType="com.dingpet.facilitymap.p001.dto.PlaceDTO">
		<![CDATA[
		SELECT SITE_ID, PLACE_NAME, ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL
		FROM SITE WHERE CATEGORY_NAME='restaurant' AND X < (#{myX, jdbcType=VARCHAR}+0.05) AND X > (#{myX, jdbcType=VARCHAR}-0.05) OR
		Y < (#{myY, jdbcType=VARCHAR}+0.00015) AND Y > (#{myY, jdbcType=VARCHAR}-0.00015) 
		]]>	
	</select>
	<select id="hotelSearch" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO" parameterType="com.dingpet.facilitymap.p001.dto.PlaceDTO">
		<![CDATA[
		SELECT SITE_ID, PLACE_NAME, ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL
		FROM SITE WHERE CATEGORY_NAME='hotel' AND X < (#{myX, jdbcType=VARCHAR}+0.15) AND X > (#{myX, jdbcType=VARCHAR}-0.15) OR
		Y < (#{myY, jdbcType=VARCHAR}+0.00115) AND Y > (#{myY, jdbcType=VARCHAR}-0.00115) 
		]]>	
	</select>
	<select id="getseq" resultType="int">
	    SELECT site_seq.nextval as sitesq from dual
    </select> 
    <select id="getstaravg" resultType="String">
	    SELECT round(AVG(review_star),1) FROM site_review where site_id = #{site_id, jdbcType=VARCHAR}
    </select> 
	<insert id="registerPlace">		
		<![CDATA[
		INSERT INTO SITE (SITE_ID, PLACE_NAME, ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL, PLACE_TEXT, PLACE_PIC, PLACE_PICNAME)
		VALUES(site_seq.currval, #{place_name, jdbcType=VARCHAR}, #{address_name, jdbcType=VARCHAR}, #{category_name, jdbcType=VARCHAR}, #{phone, jdbcType=VARCHAR}, #{x, jdbcType=VARCHAR}, #{y, jdbcType=VARCHAR},
		 #{place_url, jdbcType=VARCHAR}, #{place_text, jdbcType=VARCHAR}, #{place_pic, jdbcType=VARCHAR}, #{place_picname, jdbcType=VARCHAR})	
		]]>	
	</insert>
	<!-- 댓글 쓰기 -->
	<insert id="reviewRegister">		
		<![CDATA[
		INSERT INTO SITE_REVIEW (SITE_ID, REVIEW_ID, REVIEW_CONTENT, REVIEW_STAR, REVIEW_NAME, REVIEW_EMAIL, REVIEW_PIC, REVIEW_PICNAME, REVIEW_REPORT, REVIEW_DATE, MEMBER_ID)
		VALUES(#{site_id}, review_seq.nextval, #{review_content, jdbcType=VARCHAR}, #{review_star}, #{review_name, jdbcType=VARCHAR}, #{review_email, jdbcType=VARCHAR},
		#{review_pic, jdbcType=VARCHAR}, #{review_picname, jdbcType=VARCHAR}, 0, #{review_date, jdbcType=VARCHAR},#{member_id, jdbcType=VARCHAR})	
		]]>	
	</insert>
	<select id="readcenter" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO">
		<![CDATA[
		SELECT PLACE_NUM, PLACE_NAME, ADDRESS_NAME, ROAD_ADDRESS_NAME, CATEGORY_NAME, PHONE, X, Y, PLACE_URL
		FROM PET_MEDICENTER WHERE PLACE_NUM = #{PLACE_NUM}
		]]>	
	</select>
	<select id="dogcenter" resultType="com.dingpet.facilitymap.p001.vo.FacilityMap_P001_VO">
		<![CDATA[
		SELECT * FROM SITE WHERE SITE_ID = #{site_id}
		]]>	
	</select>
	
</mapper>