<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingpet.facilitymap.p001.mapper.FacilityMap_P001_ReplyMapper">
	
	<!-- 댓글 쓰기 -->
	<insert id = "write" >
		INSERT INTO SITE_REVIEW (SITE_ID, REVIEW_ID, REVIEW_CONTENT, REVIEW_STAR, REVIEW_NAME, REVIEW_EMAIL, REVIEW_PIC, REVIEW_PICNAME, REVIEW_REPORT, REVIEW_DATE)
		VALUES(#{site_id}, review_seq.nextval, #{review_content, jdbcType=VARCHAR}, #{review_star}, #{review_name, jdbcType=VARCHAR}, #{review_email, jdbcType=VARCHAR},
		#{review_pic, jdbcType=VARCHAR}, #{review_picname, jdbcType=VARCHAR}, 0, sysdate)
	</insert>
	<!-- 댓글 조회-->
	<select id = "view" resultType = "com.dingpet.facilitymap.p001.vo.FacilityMap_P001_ReplyVO">
		SELECT *
		FROM SITE_REVIEW
		WHERE site_id = #{site_id}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id = "delete">
		DELETE 
		FROM SITE_REVIEW
		WHERE review_id = #{review_id}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id = "modify" >
		UPDATE SITE_REVIEW
		SET review_content = #{review_content}
		WHERE review_id = #{review_id} 
	</update>
	<select id="getCountByRno" resultType="int">
		<![CDATA[
		select count(review_id) from site_review where site_id = #{site_id}
		]]>
	</select>
	<!-- 댓글 목록 -->
	<select id="list" resultType = "com.dingpet.facilitymap.p001.vo.FacilityMap_P001_ReplyVO">
		<![CDATA[
		SELECT *
		FROM (
    	select rownum rn, review_id, site_id, review_content, review_name, review_date, review_star
    	from site_review
    	where site_id =  #{site_id}
   		 and review_id > 0
   		 and rownum <= #{cri.pageNum} * #{cri.amount}
   		) where rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>
	</select>	
	<!-- 
		FROM SITE_REVIEW
		WHERE site_id = #{site_id}
		ORDER BY review_id
		-->
</mapper>