<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingpet.petsitting.p001.mapper.PetSitting_P001_Mapper">

	<select id="profileGetList" resultType="com.dingpet.petsitting.p001.vo.PetSitting_P001_VO">
		select s.member_id, m.member_nickname, s.profile_picpath, s.profile_content, s.list_address, s.profile_picpath, s.profile_picname
		from sitter_profile s, member m 
		where s.member_id = m.member_id
	</select>
	
	<select id="profileLookup" resultType="com.dingpet.petsitting.p001.vo.PetSitting_P001_VO">
		select s.member_id, s.profile_picpath, s.profile_picname, s.profile_title, s.profile_content, 
		s.price_small, s.price_medium, s.price_large, s.list_address, s.profile_jibunAddress, 
		s.service_00, s.service_01, s.service_02, s.service_03, s.service_04, 
		s.service_05, s.service_06, s.service_07, m.member_nickname
		from sitter_profile s, member m 
		where s.member_id = #{member_ID} and s.member_id = m.member_id
	</select>
	
	<select id="getLicenseList" resultType="com.dingpet.petsitting.p001.vo.PetSitting_P001_VO">
		select license_name, license_agency, license_date, license_picpath 
		from license
		where member_id = #{member_ID}
	
	</select>
	
	<select id="getClosedList" resultType="com.dingpet.petsitting.p001.vo.PetSitting_P001_VO">
		select schedule_closed from schedule 
		where member_id = #{member_ID} 
		order by schedule_closed
	</select>
	
	<insert id="profileInsert">
		insert into sitter_profile (member_id, profile_picpath, profile_content, 
		price_small, price_medium, price_large, profile_roadaddress, 
		profile_jibunaddress, profile_detailaddress, list_address, 
		service_00, service_01, service_02, service_03, 
		service_04, service_05, service_06, service_07) 
		values(#{member_ID}, #{profile_PicPath}, #{profile_Content}, #{price_Small}, #{price_Medium}, #{price_Large}, 
		#{profile_RoadAddress}, #{profile_JibunAddress}, #{profile_DetailAddress}, #{list_Address}, 
		#{service_00}, #{service_01}, #{service_02}, #{service_03}, 
		#{service_04}, #{service_05}, #{service_06}, #{service_07})
	</insert>
	
	<insert id="licenseInsert">
		insert into license (member_id, license_id, license_picpath, 
		license_name, license_agency, license_date) 
		values(#{member_ID}, seq_license.nextval, #{license_PicPath}, 
		#{license_Name}, #{license_Agency}, #{license_Date})
	</insert>
	
	<insert id="petServiceInsert">
		insert into service (member_id, service_00, service_01, service_02, service_03, 
		service_04, service_05, service_06, service_07) 
		values(#{member_ID}, #{petService[0]}, #{petService[1]}, #{petService[2]}, 
		#{petService[3]}, #{petService[4]}, #{petService[5]}, #{petService[6]}, #{petService[7]})
	</insert>
	
	<insert id="closedInsert">
		insert into schedule (member_id, schedule_id, schedule_closed) 
		values(#{member_ID}, seq_schedule.nextval, #{schedule_Closed})
	</insert>
	
	<insert id="albumInsert">
		insert into photo () 
		values()
	</insert>
	
	<select id="getReview" resultType="com.dingpet.petsitting.p004.vo.PetSitting_P004_VO">
		select r.order_id, m.member_nickname, m.member_photo, r.review_content, r.review_date, r.review_Star
		from member m, reservation r
		where m.member_id = r.member_id and sitter_id = #{member_ID} and r.review_id is not null
		order by r.review_date
	</select>
	
</mapper>