<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingpet.chat.p001.mapper.ChatMapper">
<!-- 회원가입 -->
<insert id="saveMessage">
      insert into Message (message_id, sender, send_date, roomno, member, message)
      values (msg_SEQ.nextval, #{sender, jdbcType=VARCHAR}, #{chatdate, jdbcType=VARCHAR}, #{roomno, jdbcType=VARCHAR},#{member, jdbcType=VARCHAR} , #{message, jdbcType=VARCHAR})
 </insert>
  <select id="getRoomMessage" resultType="com.dingpet.chat.p001.vo.Message">
     select * from Message where roomno = #{roomno,jdbcType=VARCHAR} order by message_id ASC 
  </select>
<insert id="createRoom">
      insert into chatRoom (roomNo, roomName, room_owner, roomMember, roomType, roomPw)
      values (room_SEQ.currval, #{roomName, jdbcType=VARCHAR}, #{room_owner, jdbcType=VARCHAR}, #{roomMember, jdbcType=VARCHAR}, #{roomType}, #{roomPw, jdbcType=VARCHAR})
 </insert>
  <select id="getChatRoomNo" resultType="int">
     select room_SEQ.nextval as roomNo from dual
  </select>
  <select id="listChatRoom" resultType="com.dingpet.chat.p001.vo.ChatRoom">
     select * from chatRoom WHERE room_owner = #{newOwner, jdbcType=VARCHAR} OR roomMember = #{newOwner, jdbcType=VARCHAR} order by reg_date DESC 
  </select>
  
  <select id="getTotalRoomNum" resultType="int">
  	select count(*) from chatRoom
  </select>
  
  <delete id="removeRoom">
  	delete from chatRoom where roomNo = #{roomNo}
  </delete>
  
  <select id="getRoom" resultType="com.dingpet.chat.p001.vo.ChatRoom">
  	select * from chatRoom where roomNo = #{roomNo}
  </select>
  
  <select id="getRoomByOwner" resultType="com.dingpet.chat.p001.vo.ChatRoom" parameterType="com.dingpet.chat.p001.vo.ChatRoom">
  	select * from chatRoom where room_owner = #{room_owner, jdbcType=VARCHAR} AND roomName = #{roomName, jdbcType=VARCHAR} AND roomNo = #{roomNo, jdbcType=VARCHAR}
  </select>
  
  <select id="getMembers" resultType="String">
  	select roomMember from chatRoom where roomNo = #{roomNo}
  </select>
  
  <update id="addMember">
  	update chatRoom set roomMember = #{members} where roomNo = ${roomNo}
  </update>
  
  <update id="updateOwner">
      update chatRoom set room_owner = #{newOwner} where roomNo = ${roomNo}
   </update>
   
  <select id="getOwner" resultType="String"><!-- 방장체크 -->
     select room_owner from chatRoom where roomNo = #{roomNo} 
  </select>
  
  <select id="getRoomType" resultType="String">
  	select roomType from chatRoom where roomNo = #{roomNo}
  </select>
 
  <update id="changeRoomType">
  	update chatRoom set roomType = #{roomType} where roomNo = ${roomNo}
  </update> 
 
  
  
</mapper>
